<div class="container">
  <h1> Here are all the Flats!</h1>
   <div class="row">
      <% @flats.each do |flat|  %>
        <div class="cards col-3 offset-1">
          <h3><%=flat.name %></h3>
          <hr>
          <h6><%=flat.address %></h6>
          <h4><%="#{flat.price_per_night}$" %> | <%="#{flat.number_of_guests} guests" %></h4>
          <p><%= flat.description %></p>
          <div class="card-bottom"> <%= link_to "More Info", flat_path(flat) %></div>
        </div>
      <% end  %>
  </div>
</div>


