<div class="container">
  <div class="holder">
    <h1><%=@flat.name%></h1>
    <p><%=@flat.address%></p>
  </div>
  <div class="holder">
    <h1>A bit more about the flat...</h1>
    <p><%=  @flat.description%></p>
  </div>
  <div class="holder">
    <h1>Details</h1>
    <p>Price Per Night:<%= @flat.price_per_night%>  | Sleeps:<%= @flat.number_of_guests %></p>
  </div>
  <%= link_to "Edit!", edit_flat_path(@flat), class: "btn btn-outline-primary h-50" %>
  <%= link_to "Delete", flat_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-primary h-50" %>
</div>
